::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#cCarousel,
#cCarousel2 {
    position: relative;
    max-width: 1700px;
    width: auto;
    margin: auto;
}

#cCarousel2 .arrow,
#cCarousel .arrow {
    position: absolute;
    top: 50%;
    display: flex;
    width: 45px;
    height: 45px;
    justify-content: center;
    align-items: center;
    z-index: 1;
    font-size: 26px;
    color: #b8b8b8;
    cursor: pointer;
}

#cCarousel2 #prev2,
#cCarousel #prev {
    left: 0px;
}
#cCarousel2 #next2,
#cCarousel #next {
    right: 0px;
}

#carousel-vp2,
#carousel-vp {
    width: 1290px;
    height: 400px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    margin: auto;
}

@media (max-width: 1770px) {
    #carousel-vp2,
    #carousel-vp {
        width: 1030px;
    }
}

@media (max-width: 1470px) {
    #carousel-vp2,
    #carousel-vp {
        width: 770px;
    }
}

@media (max-width: 920px) {
    #carousel-vp2,
    #carousel-vp {
        width: 510px;
    }
}

@media (max-width: 770px) {
    #carousel-vp2,
    #carousel-vp {
        width: 510px;
    }
}

@media (max-width: 680px) {
    #carousel-vp2,
    #carousel-vp {
        width: 250px;
    }
}

#cCarousel #cCarousel-inner,
#cCarousel2 #cCarousel-inner2 {
    display: flex;
    position: absolute;
    transition: 0.3s ease-in-out;
    gap: 10px;
    left: 0px;
}

.cCarousel-item {
    width: 250px;
    height: auto;
    border: 2px solid white;
    border-radius: 10px;
    margin: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.cCarousel-item img {
    width: 100%;
    min-height: 200px;
    object-fit: cover;
    color: white;
}

.cCarousel-item .infos {
    padding: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    background: white;
    color: black;
}

.cCarousel-item .infos h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 500;
}

.cCarousel-item .infos a {
    background: #fff;
    border: #1F497D 1px solid;
    color: #1F497D;
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.cCarousel-item .infos a:hover {
    background: #1F497D;
    color: #fff;
}

.slider-container {
    padding-bottom: 3rem; 
}